<a href="https://colab.research.google.com/github/RJames34/cs506-off_campus_housing-Ren-James/blob/main/CS_506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries we will need
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#Import more as we go along

In [10]:
# Importing the dataset for use
filename = os.path.join(os.getcwd(), "rawdata", "Building_Property_Violations_2019_Sep_28_2025.csv")

In [11]:
# Creating a variable to hold the data set
df = pd.read_csv(filename, header = 0)

In [ ]:
# Viewing the data 

# (Rows, Columns)
df.shape

# view the columns and rows, first 10 for genreal idea of what it looks like
df.head(10)

,_id,case_no,ap_case_defn_key,status_dttm,status,code,value,description,violation_stno,violation_sthigh,...,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location
0,1,V91983,1013,NaN,Closed,121.2,NaN,Unsafe and Dangerous,302,NaN,...,01,302 Sumner St,NaN,East Boston,MA,02128,132380.0,42.367678,-71.036580,"(42.367678491254956, -71.0365803778755)"
1,2,V863756,1013,2025-09-26 14:47:03,Open,105.1,NaN,Failure to Obtain Permit,37,NaN,...,17,35 FAIRMOUNT ST,NaN,DORCHESTER,MA,02124,55823.0,42.281030,-71.072991,"(42.28102954599074, -71.07299065262531)"
2,3,V863752,1013,2025-09-26 14:12:57,Open,105.1,NaN,Failure to Obtain Permit,614,NaN,...,09,213 Newbury street,NaN,Boston,Ma,02116,92493.0,42.337200,-71.077451,"(42.33719954706552, -71.07745053724503)"
3,4,V849444,1013,2025-09-26 14:06:25,Open,102.8,NaN,Maintenance,3,NaN,...,05,3 GOODWIN PL UNIT 1,NaN,BOSTON,MA,02114,65316.0,42.359880,-71.069020,"(42.359879534297896, -71.06902046719476)"
4,5,V849435,1013,2025-09-26 14:05:49,Open,102.8,NaN,Maintenance,4,NaN,...,05,4 GOODWIN PLACE,UNIT 4,BOSTON,MA,02114,65322.0,42.359880,-71.069180,"(42.35987953438437, -71.06918046776687)"
5,6,V849446,1013,2025-09-26 14:05:02,Open,102.8,NaN,Maintenance,68,70,...,05,5 ALPINE ROAD,NaN,MANCHESTER,MA,01944,110082.0,42.360187,-71.069201,"(42.36018710675776, -71.06920092084883)"
6,7,V843370,1013,2025-09-26 08:22:12,Open,3307,NaN,Protection of Adj. Property,66,NaN,...,06,66 N ST,NaN,SOUTH BOSTON,MA,02127,100140.0,42.336199,-71.030980,"(42.336199485404066, -71.03098043503404)"
7,8,V777054,1013,2025-09-26 08:20:02,Open,1001.3.2,NaN,Testing & Certification,771,NaN,...,06,771 E BROADWAY,NaN,SOUTH BOSTON,MA,02127,21179.0,42.335467,-71.034316,"(42.33546748975727, -71.03431644427319)"
8,9,V845185,1013,2025-09-26 08:17:53,Open,Article 4 Section 4-3,NaN,No use of premises permit:,96,NaN,...,14,96 Brunswick St,NaN,Dorchester,MA,02121,22915.0,42.310980,-71.079811,"(42.310979552588336, -71.07981060135211)"
9,10,V863492,1013,2025-09-25 09:32:57,Open,107.4,NaN,Failed to comply w permit term,23,NaN,...,18,23 GRASSMERE RD,NaN,HYDE PARK,MA,02136,66017.0,42.268670,-71.129391,"(42.26866962746323, -71.12939080775053)"