<a href="https://colab.research.google.com/github/RJames34/cs506-off_campus_housing-Ren-James/blob/main/CS_506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
# Importing libraries we will need
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#Import more as we go along

In [75]:
# Importing the dataset for use
filename = os.path.join(os.getcwd(), "rawdata", "Building_Property_Violations_2019_Sep_28_2025.csv")

In [76]:
# Creating a variable to hold the data set
df = pd.read_csv(filename, header = 0)

In [77]:
# Viewing the data 

# (Rows, Columns)
df.shape

# view the columns and rows, first 10 for genreal idea of what it looks like
df.head(10)

,_id,case_no,ap_case_defn_key,status_dttm,status,code,value,description,violation_stno,violation_sthigh,...,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location
0,1,V91983,1013,NaN,Closed,121.2,NaN,Unsafe and Dangerous,302,NaN,...,01,302 Sumner St,NaN,East Boston,MA,02128,132380.0,42.367678,-71.036580,"(42.367678491254956, -71.0365803778755)"
1,2,V863756,1013,2025-09-26 14:47:03,Open,105.1,NaN,Failure to Obtain Permit,37,NaN,...,17,35 FAIRMOUNT ST,NaN,DORCHESTER,MA,02124,55823.0,42.281030,-71.072991,"(42.28102954599074, -71.07299065262531)"
2,3,V863752,1013,2025-09-26 14:12:57,Open,105.1,NaN,Failure to Obtain Permit,614,NaN,...,09,213 Newbury street,NaN,Boston,Ma,02116,92493.0,42.337200,-71.077451,"(42.33719954706552, -71.07745053724503)"
3,4,V849444,1013,2025-09-26 14:06:25,Open,102.8,NaN,Maintenance,3,NaN,...,05,3 GOODWIN PL UNIT 1,NaN,BOSTON,MA,02114,65316.0,42.359880,-71.069020,"(42.359879534297896, -71.06902046719476)"
4,5,V849435,1013,2025-09-26 14:05:49,Open,102.8,NaN,Maintenance,4,NaN,...,05,4 GOODWIN PLACE,UNIT 4,BOSTON,MA,02114,65322.0,42.359880,-71.069180,"(42.35987953438437, -71.06918046776687)"
5,6,V849446,1013,2025-09-26 14:05:02,Open,102.8,NaN,Maintenance,68,70,...,05,5 ALPINE ROAD,NaN,MANCHESTER,MA,01944,110082.0,42.360187,-71.069201,"(42.36018710675776, -71.06920092084883)"
6,7,V843370,1013,2025-09-26 08:22:12,Open,3307,NaN,Protection of Adj. Property,66,NaN,...,06,66 N ST,NaN,SOUTH BOSTON,MA,02127,100140.0,42.336199,-71.030980,"(42.336199485404066, -71.03098043503404)"
7,8,V777054,1013,2025-09-26 08:20:02,Open,1001.3.2,NaN,Testing & Certification,771,NaN,...,06,771 E BROADWAY,NaN,SOUTH BOSTON,MA,02127,21179.0,42.335467,-71.034316,"(42.33546748975727, -71.03431644427319)"
8,9,V845185,1013,2025-09-26 08:17:53,Open,Article 4 Section 4-3,NaN,No use of premises permit:,96,NaN,...,14,96 Brunswick St,NaN,Dorchester,MA,02121,22915.0,42.310980,-71.079811,"(42.310979552588336, -71.07981060135211)"
9,10,V863492,1013,2025-09-25 09:32:57,Open,107.4,NaN,Failed to comply w permit term,23,NaN,...,18,23 GRASSMERE RD,NaN,HYDE PARK,MA,02136,66017.0,42.268670,-71.129391,"(42.26866962746323, -71.12939080775053)"

In [78]:
# Trying to Clean the Data Set

df = df.drop(columns =['value', 'location', "ap_case_defn_key"])
df_filtered = df[(df['status_dttm']>='2020-01-01')&(df['status_dttm'] <='2024-12-31')]

df_filtered.columns

df_filtered.head(10)

,_id,case_no,status_dttm,status,code,description,violation_stno,violation_sthigh,violation_street,violation_suffix,...,violation_zip,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude
610,611,V807184,2024-12-30 10:19:11,Closed,102.8,Maintenance,51,NaN,Beech Glen,ST,...,02119,11,51 BEECH GLEN,NaN,ROXBURY,MA,02119,13344.0,42.324460,-71.095251
611,612,V806319,2024-12-26 08:23:23,Closed,105.1,Failure to Obtain Permit,1162,NaN,Morton,ST,...,02126,17,1162 Morton ST,NaN,MATTAPAN,MA,02126,97659.0,42.275810,-71.073231
612,613,V805052,2024-12-20 13:47:15,Closed,102.8,Maintenance,1,5,Harvard,AV,...,02134,21,C/O O'BRIENS PUB/GAIL ATKINSON,3 HARVARD AVE,BOSTON,MA,02134,156445.0,42.355261,-71.132901
613,614,V805020,2024-12-20 09:40:32,Closed,105.4,Validity of Permit,133,NaN,River,ST,...,02126,17,45 SIERRA RD,NaN,HYDE PARK,MA,02136,116362.0,42.271670,-71.076661
614,615,V805017,2024-12-20 09:26:35,Open,105.1,Failure to Obtain Permit,31,NaN,Hazleton,ST,...,02126,14,31 HAZLETON ST UNIT #2,NaN,MATTAPAN,MA,02126,72259.0,42.279550,-71.094591
615,616,V805010,2024-12-20 09:06:39,Open,102.8,Maintenance,31,NaN,Hazleton,ST,...,02126,14,31 HAZLETON ST UNIT #2,NaN,MATTAPAN,MA,02126,72259.0,42.279550,-71.094591
616,617,V805006,2024-12-20 08:53:56,Closed,3307,Protection of Adj. Property,9,NaN,Queen,ST,...,02122,16,9 QUEEN ST,NaN,DORCHESTER,MA,02122,113713.0,42.293680,-71.053369
617,618,V804383,2024-12-18 09:04:18,Open,116,Unsafe Structures,24,NaN,Factory,ST,...,02136,18,15 BARBER ST,NaN,MEDWAY,MA,02053,165148.0,42.253089,-71.126206
618,619,V804382,2024-12-18 08:54:10,Open,102.8,Maintenance,8,10,Winter,ST,...,02136,18,39 BRIGHTON AVE,NaN,BOSTON,MA,02134,171888.0,42.248467,-71.127904
619,620,V799466,2024-12-18 08:40:58,Closed,102.8,Maintenance,383,385,Blue Hill,AV,...,02121,12,"100 HANO ST, Unit SUITE-26",NaN,ALLSTON,MA,02134,16442.0,42.311690,-71.081133

In [ ]:
# Check for unique values for further cleaning and understanding the data

# print(df_filtered.shape)
# => (3828, 22), meaning we have 3828 data points total

# Create year based groupings of building violations
year2020 = df_filtered[(df_filtered['status_dttm'] >= '2020-01-01') & (df_filtered['status_dttm'] <= '2020-12-31')]
year2021 = df_filtered[(df_filtered['status_dttm'] >= '2021-01-01') & (df_filtered['status_dttm'] <= '2021-12-31')]
year2022 = df_filtered[(df_filtered['status_dttm'] >= '2022-01-01') & (df_filtered['status_dttm'] <= '2022-12-31')]
year2023 = df_filtered[(df_filtered['status_dttm'] >= '2023-01-01') & (df_filtered['status_dttm'] <= '2023-12-31')]
year2024 = df_filtered[(df_filtered['status_dttm'] >= '2024-01-01') & (df_filtered['status_dttm'] <= '2024-12-31')]

# print("2020", len(year2020)) # => 731
# print("2021", len(year2021)) # => 688
# print("2022", len(year2022)) # => 904
# print("2023", len(year2023)) # => 657
# print("2024", len(year2024)) # => 848

#print(df_filtered.columns)
'''
=>
Index(['_id', 'case_no', 'ap_case_defn_key', 'status_dttm', 'status', 'code',
       'description', 'violation_stno', 'violation_sthigh', 'violation_street',
       'violation_suffix', 'violation_city', 'violation_state',
       'violation_zip', 'ward', 'contact_addr1', 'contact_addr2',
       'contact_city', 'contact_state', 'contact_zip', 'sam_id', 'location'],
      dtype='object')
'''

# print("ap_case_defn_key", df_filtered['ap_case_defn_key'].unique())
# ap_case_defn_key [1013] => We can Delete this Column

# print("status", df_filtered['status'].unique())
# => status ['Closed' 'Open'] => Cannot get rid of status column

# print(len(df_filtered[df_filtered['status'] == "Open"]))
# => 551 => Still Open Property Violations

# print("description", len(df_filtered["description"].unique()))
# => 119, aka different types of Descriptions of violations

# print("code", len(df_filtered['code'].unique()))
# => 141, aka different types of codes


# print("violation_sthigh", len(df_filtered['violation_sthigh'].unique()))
# => 386, aka different types of streets for the violating building

# print(df_filtered['violation_suffix'].unique())
# => ['ST' 'AV' 'RD' 'AVE' 'PW' 'CT' nan 'HW' 'PK' 'WY' 'CC' 'TE' 'BLVD' 'PL' 'BL' 'LN' 'PZ' 'SQ' 'TER' 'CI' 'PARK' 'DR' ' ' 'RO' 'Av' 'St' 'WH' 'WAY']

# print(type(df["longitude"].iloc[0]))
# => <class 'numpy.float64'>

<class 'numpy.float64'>

# Starting Visualization
Playing around with visualizations, specifically to plot out the lattitue and longitude and see the spread right away.