<a href="https://colab.research.google.com/github/RJames34/cs506-off_campus_housing-Ren-James/blob/main/CS_506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries we will need
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#Import more as we go along
import re

In [2]:
# Importing the dataset for use
# Datatsets containing where students lived off campus for the past four years
# varibles are holding the names 
Student_addresses_1 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2020_2021.csv")
Student_addresses_2 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2021_2022.csv")
Student_addresses_3 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2022_2023.csv")
Student_addresses_4 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2023_2024.csv")

In [3]:
# Creating a variable to hold the data sets
Student_addresses_2020_2021 = pd.read_csv(Student_addresses_1, header = 0)
Student_addresses_2021_2022 = pd.read_csv(Student_addresses_2, header = 0)
Student_addresses_2022_2023 = pd.read_csv(Student_addresses_3, header = 0)
Student_addresses_2023_2024 = pd.read_csv(Student_addresses_4, header = 0)

In [4]:
# Viewing the data 

# (Rows, Columns)
Student_addresses_2020_2021.shape
Student_addresses_2021_2022.shape
Student_addresses_2022_2023.shape
Student_addresses_2023_2024.shape

# view the columns and rows, first 10 for genreal idea of what it looks like
Student_addresses_2020_2021.head(10)
Student_addresses_2021_2022.head(10)
Student_addresses_2022_2023.head(10)
Student_addresses_2023_2024.head(10)

# Student_addresses_2020_2021['6c. street suffix'].unique()

,6a. street #,6b. street name,6c. street suffix,6d. unit #,6e. zip,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. at-home or not-at-home,9. 5 or more undergrads/unit (y/n),university,year
0,10,Rhoda St,NaN,NaN,2132,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
1,10,Rhoda Street,NaN,NaN,2132,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
2,580,Washington Street,NaN,NaN,2111,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
3,12,Sutherland Rd,NaN,3,2135,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
4,137,Chiswick rd,NaN,apt 5,2135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
5,15,Hillock street,NaN,NaN,2131,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
6,161,Washington St,NaN,NaN,2135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
7,242,Bowdoin St,NaN,NaN,2122,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
8,34,Bay St,NaN,NaN,2171,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
9,34,Navarre St,NaN,NaN,2131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024

# Clean the dataset

In [5]:

# drop the unit number column, more than five students column 
Student_addresses_2020_2021 = Student_addresses_2020_2021.drop(columns=['6d. unit #', '9. 5 or more undergrads/unit (y/n)'])
Student_addresses_2021_2022 = Student_addresses_2021_2022.drop(columns=['6d. unit #', '9. 5 or more undergrads/unit (y/n)'])
Student_addresses_2022_2023 = Student_addresses_2022_2023.drop(columns=['6d. unit #', '9. 5 or more undergrads/unit (y/n)'])
Student_addresses_2023_2024 = Student_addresses_2023_2024.drop(columns=['6d. unit #', '9. 5 or more undergrads/unit (y/n)'])

#Add zeros to the zipcodes in each student dataset
Student_addresses_2020_2021["6e. zip"] = "0" + Student_addresses_2020_2021["6e. zip"]
Student_addresses_2021_2022["6e. zip"] = "0" + Student_addresses_2021_2022["6e. zip"]
Student_addresses_2022_2023["6e. zip"] = "0" + Student_addresses_2022_2023["6e. zip"]
Student_addresses_2023_2024["6e. zip"] = "0" + Student_addresses_2023_2024["6e. zip"]

#Create a street combined column for the API code for each dataset
Student_addresses_2020_2021["Street_combined"] = Student_addresses_2020_2021['6a. street #']+ " " + Student_addresses_2020_2021['6b. street name'] + " " +Student_addresses_2020_2021['6c. street suffix']
Student_addresses_2021_2022["Street_combined"] = Student_addresses_2021_2022['6a. street #']+ " " + Student_addresses_2021_2022['6b. street name'] + " " +Student_addresses_2021_2022['6c. street suffix']
Student_addresses_2022_2023["Street_combined"] = Student_addresses_2022_2023['6a. street #']+ " " + Student_addresses_2022_2023['6b. street name'] + " " +Student_addresses_2022_2023['6c. street suffix']
Student_addresses_2023_2024["Street_combined"] = Student_addresses_2023_2024['6a. street #']+ " " + Student_addresses_2023_2024['6b. street name'] + " " +Student_addresses_2023_2024['6c. street suffix']

#Create a city and state column for each dataset
Student_addresses_2020_2021['City'] = "Boston"
Student_addresses_2020_2021['State'] = "Massachusetts"

Student_addresses_2021_2022['City'] = "Boston"
Student_addresses_2021_2022['State'] = "Massachusetts"

Student_addresses_2022_2023['City'] = "Boston"
Student_addresses_2022_2023['State'] = "Massachusetts"

Student_addresses_2023_2024['City'] = "Boston"
Student_addresses_2023_2024['State'] = "Massachusetts"

# This function will refill the street suffix column with the correct suffixs and remove duplicates
def correct_street_suffix_and_duplicates(df):
    # ---- ensure columns exist ----
    for col in ['6b. street name', '6c. street suffix']:
        if col not in df.columns:
            df[col] = pd.NA

    # ---- list of suffixes (common full + abbreviations + punctuation) ----
    valid_suffixes = [
        'Street', 'St', 'St.', 'Avenue', 'Ave', 'Ave.', 'Boulevard', 'Blvd', 'Blvd.',
        'Road', 'Rd', 'Rd.', 'Drive', 'Dr', 'Dr.', 'Court', 'Ct', 'Ct.',
        'Lane', 'Ln', 'Ln.', 'Place', 'Pl', 'Pl.', 'Terrace', 'Ter', 'Ter.',
        'Way', 'Wy', 'Wy.', 'Circle', 'Cir', 'Cir.', 'Parkway', 'Pkwy', 'Pkwy.',
        'Square', 'Sq', 'Sq.', 'Trail', 'Trl', 'Trl.', 'Loop', 'Lp', 'Lp.',
        'Highway', 'Hwy', 'Hwy.', 'Crescent', 'Cres', 'Cres.'
    ]

    # ---- regex pattern to find suffix at end ----
    pattern = r'\b(' + '|'.join(valid_suffixes) + r')\.?$'

    # ---- prepare clean street names ----
    s = df['6b. street name'].fillna('').astype(str).str.strip()

    # ---- extract suffixes ----
    extracted = s.str.extract(pattern, flags=re.IGNORECASE, expand=False)
    extracted = extracted.str.replace('.', '', regex=False).str.title().replace('', pd.NA)

    # ---- fill NaN suffixes with extracted ones ----
    df['6c. street suffix'] = (
        df['6c. street suffix']
        .fillna(extracted)
        .astype('string')
        .str.replace('.', '', regex=False)
        .str.title()
    )

    # ---- remove suffix from street name ----
    cleaned = s.str.replace(pattern, '', flags=re.IGNORECASE, regex=True)
    cleaned = cleaned.str.replace(r'\s+', ' ', regex=True).str.strip()
    cleaned = cleaned.replace('', pd.NA).astype('string').str.title()
    df['6b. street name'] = cleaned

    # ---- normalize suffix capitalization ----
    df['6c. street suffix'] = df['6c. street suffix'].str.replace('.', '', regex=False).str.title()

    # ---- drop duplicate addresses ----
    dup_cols = ['6a. street #', '6b. street name', '6c. street suffix', '6e. zip']
    df = df.drop_duplicates(subset=dup_cols, keep='first').reset_index(drop=True)

    return df

In [6]:
# Call above function on all the address datasets
Student_addresses_2020_2021 = correct_street_suffix_and_duplicates(Student_addresses_2020_2021)
Student_addresses_2021_2022 = correct_street_suffix_and_duplicates(Student_addresses_2021_2022)
Student_addresses_2022_2023 = correct_street_suffix_and_duplicates(Student_addresses_2022_2023)
Student_addresses_2023_2024 = correct_street_suffix_and_duplicates(Student_addresses_2023_2024)


# How many rows they have now after dropping duplicate rows
print(Student_addresses_2020_2021.shape)
print(Student_addresses_2021_2022.shape)
print(Student_addresses_2022_2023.shape)
print(Student_addresses_2023_2024.shape)

(14702, 12)
(13754, 12)
(23545, 12)
(26226, 12)

In [7]:

# This function will focus on deleting rows that have NA in street or suffix, and account for mispellings
def extensive_suffix_column_cleaning(df):
    # dictionary: keys are messy variants, values are correct suffixes
    suffix_map = {
        # common street suffixes
        'St': 'Street', 'St.': 'Street', 'St,': 'Street', 'St.,': 'Street',
        'Steet': 'Street', 'Stree': 'Street', 'Stret': 'Street', 'Sreet': 'Street',
        
        'Ave': 'Avenue', 'Ave.': 'Avenue', 'Ave,': 'Avenue', 'Avenu': 'Avenue',
        'Avenue,': 'Avenue', 'Aveue': 'Avenue', 'Aveneue': 'Avenue', 'Av': 'Avenue', 'Avene': 'Avenue',
        
        'Rd': 'Road', 'Rd.': 'Road', 'Road,': 'Road', 'Roa': 'Road', 'Driv': 'Drive',
        
        'Dr': 'Drive', 'Dr.': 'Drive', 'Dr,': 'Drive', 'Drive,': 'Drive',
        
        'Blvd': 'Boulevard', 'Blvd,': 'Boulevard', 'Bvd': 'Boulevard',
        
        'Ct': 'Court', 'Ct.': 'Court',
        
        'Lane': 'Lane', 'Ln': 'Lane',
        
        'Terr': 'Terrace', 'Terrace': 'Terrace', 'Terr.': 'Terrace', 'Terrance': 'Terrace',
        
        'Circle': 'Circle', 'Cir': 'Circle', 'Cct': 'Circle',
        
        'Place': 'Place', 'Place.': 'Place', 'Place,': 'Place', 'Pl': 'Place', 'Pl.': 'Place', 'Pl.,': 'Place', 'Plz': 'Place',
        
        'Way': 'Way', 'Way.': 'Way',
        
        'Parkway': 'Parkway', 'Pkwy': 'Parkway', 'Pky': 'Parkway',
        
        'Square': 'Square', 'Sq': 'Square',
        
        # optional: directions if you want to standardize
        'E': 'East', 'W': 'West', 'S': 'South', 'N': 'North', 'East': 'East', 'West': 'West',
    }


    ### 2. Map your `6c. street suffix` column using this dictionary

    # normalize: remove extra whitespace and title case
    df['6c. street suffix'] = df['6c. street suffix'].astype(str).str.strip().str.replace(r'[\s\.]+$', '', regex=True).str.title()

    # map variants to canonical suffix
    df['6c. street suffix'] = df['6c. street suffix'].map(suffix_map).fillna(pd.NA)


    ### 3. remove clearly invalid entries

    # remove numbers, apartment/floor info, city names, etc.
    invalid_suffixes = ['#7', 'Floor 3', 'Apt', 'Apartment', 'Boston', 'Brookline', 'Berkeley', 'Charlestown', 'Longwood', 'Stephen', 'Edward']

    df.loc[df['6c. street suffix'].isin(invalid_suffixes), '6c. street suffix'] = pd.NA
    df.loc[df['6b. street name'].isin(invalid_suffixes), '6c. street suffix'] = pd.NA

    # Drop rows where either street name or suffix is NA
    df = df.dropna(subset=['6b. street name', '6c. street suffix'])

    return df

In [8]:
#Run the function on student addresses
Student_addresses_2020_2021 = extensive_suffix_column_cleaning(Student_addresses_2020_2021)
Student_addresses_2021_2022 = extensive_suffix_column_cleaning(Student_addresses_2021_2022)
Student_addresses_2022_2023 = extensive_suffix_column_cleaning(Student_addresses_2022_2023)
Student_addresses_2023_2024 = extensive_suffix_column_cleaning(Student_addresses_2023_2024)

# How many rows they have now after dropping duplicate rows
print(Student_addresses_2020_2021.shape)
print(Student_addresses_2021_2022.shape)
print(Student_addresses_2022_2023.shape)
print(Student_addresses_2023_2024.shape)

(10718, 12)
(9352, 12)
(11058, 12)
(11321, 12)

In [9]:
# Define the path where you want to save the CSV file
# Use forward slashes or raw string to avoid escape character issues
output_path = r"C:\Users\riann\Downloads\cs506-off_campus_housing-Ren-James\Altered datasets"

# Create the directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save each DataFrame to a separate CSV file with a descriptive name
Student_addresses_2020_2021.to_csv(os.path.join(output_path, "cleaned_student_addresses_2020_2021.csv"), index=False)
Student_addresses_2021_2022.to_csv(os.path.join(output_path, "cleaned_student_addresses_2021_2022.csv"), index=False)
Student_addresses_2022_2023.to_csv(os.path.join(output_path, "cleaned_student_addresses_2022_2023.csv"), index=False)
Student_addresses_2023_2024.to_csv(os.path.join(output_path, "cleaned_student_addresses_2023_2024.csv"), index=False)

print("Files saved successfully to:")
print(output_path)

Files saved successfully to:
C:\Users\riann\Downloads\cs506-off_campus_housing-Ren-James\Altered datasets

# API code for filling in the lat and long columns of each dataset

In [ ]:
import time
import requests
import pandas as pd
import numpy as np
from typing import Optional, Tuple, Dict

GEOCODE_URL = "https://geocode.maps.co/search"

def _build_address_string(street: Optional[str], city: Optional[str],
                          state: Optional[str], postalcode: Optional[str]) -> str:
    parts = []
    if street and str(street).strip():
        parts.append(str(street).strip())
    if city and str(city).strip():
        parts.append(str(city).strip())
    if state and str(state).strip():
        parts.append(str(state).strip())
    if postalcode and str(postalcode).strip():
        parts.append(str(postalcode).strip())
    return ", ".join(parts)

def geocode_single(session: requests.Session,
                    street: Optional[str],
                    city: Optional[str],
                    state: Optional[str],
                    postalcode: Optional[str],
                    api_key: Optional[str] = None,
                    country: Optional[str] = "US",
                    timeout: float = 10.0,
                    max_retries: int = 4,
                    pause: float = 1.0) -> Tuple[Optional[float], Optional[float]]:
    """
    Geocode a single address. Returns (lat, lon) or (None, None) if no result.
    Uses exponential backoff for 429/503 responses.
    """
    address_str = _build_address_string(street, city, state, postalcode)
    if not address_str:
        return None, None

    params = {
        "format": "json",
        "limit": 1
    }
    # Prefer structured search: include components when available
    if street:
        params["street"] = street
    if city:
        params["city"] = city
    if state:
        params["state"] = state
    if postalcode:
        params["postalcode"] = postalcode
    if country:
        params["country"] = country

    # If user prefers to pass api_key as query param, uncomment next line
    # if api_key: params["api_key"] = api_key

    headers = {
        "User-Agent": "geocode-client/1.0"
    }
    if api_key:
        headers["Authorization"] = f"Bearer {api_key}"

    backoff = pause
    for attempt in range(1, max_retries + 1):
        try:
            resp = session.get(GEOCODE_URL, params=params, headers=headers, timeout=timeout)
        except requests.RequestException:
            # network failure
            if attempt == max_retries:
                return None, None
            time.sleep(backoff)
            backoff *= 2
            continue

        if resp.status_code == 200:
            try:
                data = resp.json()
            except ValueError:
                return None, None
            if isinstance(data, list) and len(data) > 0:
                first = data[0]
                try:
                    lat = float(first.get("lat"))
                    lon = float(first.get("lon"))
                    return lat, lon
                except Exception:
                    return None, None
            else:
                # no matches
                return None, None

        if resp.status_code in (429, 503):
            # rate limited or service unavailable - backoff and retry
            if attempt == max_retries:
                return None, None
            time.sleep(backoff)
            backoff *= 2
            continue

        # for 403/4xx/5xx other than 429/503 -> don't retry too aggressively
        # if 403, you might be blocked/need to contact API provider
        return None, None

    return None, None


def geocode_addresses(df: pd.DataFrame,
                      street_col: str,
                      city_col: Optional[str],
                      state_col: Optional[str],
                      postal_col: Optional[str],
                      api_key: Optional[str] = None,
                      country: str = "US",
                      timeout: float = 10.0,
                      pause: float = 1.0,
                      max_retries: int = 4,
                      max_rows: Optional[int] = None,
                      show_progress: bool = True) -> pd.DataFrame:
    """
    Geocode addresses from a DataFrame and return a copy with 'latitude_geocoded'
    and 'longitude_geocoded' columns appended.

    Example:
      df2 = geocode_addresses(df, "street_col", "city_col", "state_col", "zip_col", api_key="XXX")
      # then df2 has new columns you can assign back: df["lat"] = df2["latitude_geocoded"]
    """
    session = requests.Session()
    cache: Dict[str, Tuple[Optional[float], Optional[float]]] = {}

    n = len(df) if max_rows is None else min(len(df), max_rows)
    latitudes = []
    longitudes = []

    it = range(n)
    for i in it:
        if show_progress and (i % 50 == 0):
            print(f"Geocoding row {i+1}/{n} ...")
        row = df.iloc[i]
        street = row.get(street_col, None)
        city = row.get(city_col, None) if city_col else None
        state = row.get(state_col, None) if state_col else None
        postal = row.get(postal_col, None) if postal_col else None

        addr_key = _build_address_string(street, city, state, postal)
        if addr_key in cache:
            lat, lon = cache[addr_key]
        else:
            lat, lon = geocode_single(session,
                                      street=street,
                                      city=city,
                                      state=state,
                                      postalcode=postal,
                                      api_key=api_key,
                                      country=country,
                                      timeout=timeout,
                                      max_retries=max_retries,
                                      pause=pause)
            cache[addr_key] = (lat, lon)
            # polite pause between requests to avoid being rate-limited
            time.sleep(pause)

        latitudes.append(lat if lat is not None else np.nan)
        longitudes.append(lon if lon is not None else np.nan)

    # Build output DataFrame (copy to avoid mutating input)
    out = df.copy()
    # New columns are aligned with the subset length; if max_rows set, fill rest with NaN
    if max_rows is not None and max_rows < len(df):
        # create full-length lists
        lat_full = [np.nan] * len(df)
        lon_full = [np.nan] * len(df)
        for j in range(max_rows):
            lat_full[j] = latitudes[j]
            lon_full[j] = longitudes[j]
        out["latitude_geocoded"] = lat_full
        out["longitude_geocoded"] = lon_full
    else:
        out["latitude_geocoded"] = latitudes + [np.nan] * (len(df) - len(latitudes))
        out["longitude_geocoded"] = longitudes + [np.nan] * (len(df) - len(longitudes))

    return out

In [ ]:
# An example of how to run the above function, but loading the lat and long columns
# for each dataset will be handled outside this notebook as each one will take 3- 4hrs
#provide your API key below

# Student_addresses_2020_2021 = geocode_addresses(Student_addresses_2020_2021, "Street_combined", "City", "State", "6e. zip", "insert_your_api_key_here")
# Student_addresses_2021_2022 = geocode_addresses(Student_addresses_2021_2022, "Street_combined", "City", "State", "6e. zip", "insert_your_api_key_here")
# Student_addresses_2022_2023 = geocode_addresses(Student_addresses_2022_2023, "Street_combined", "City", "State", "6e. zip", "insert_your_api_key_here")
# Student_addresses_2023_2024 = geocode_addresses(Student_addresses_2023_2024, "Street_combined", "City", "State", "6e. zip", "insert_your_api_key_here")

# Starting Visualization
Playing around with visualizations.

In [8]:
# # Student_addresses_2020_2021 undergrad and grad counts bar graph 

# count = Student_addresses_2020_2021["7. undergraduate (u) or graduate (g)"].value_counts()

# undergradCount = (count[0] + count[3]).sum()
# GradCount = (count[1] + count[2]).sum()

# #Plot Bar graph
# plt.barh(['Undergrad', 'Grad'], [undergradCount, GradCount], color='orange',)

# # Create Labels
# plt.xlabel('Counts')
# plt.ylabel('Student Type')
# plt.title('Undergrad and Grad Student Counts 2020-2021')

# # Show the plot
# plt.show()

In [9]:
# # Student_addresses_2021_2022 undergrad and grad counts bar graph 

# count = Student_addresses_2021_2022["7. undergraduate (u) or graduate (g)"].value_counts()

# undergradCount = (count[0]).sum()
# GradCount = (count[1]).sum()

# #Plot Bar graph
# plt.barh(['Undergrad', 'Grad'], [undergradCount, GradCount], color='orange')

# # Create Labels
# plt.xlabel('Counts')
# plt.ylabel('Student Type')
# plt.title('Undergrad and Grad Student Counts 2021-2022')

# # Show the plot
# plt.show()

In [10]:
# # Student_addresses_2022_2023 undergrad and grad counts bar graph 

# count = Student_addresses_2022_2023["7. undergraduate (u) or graduate (g)"].value_counts()

# undergradCount = (count[0]+ count[3] + count[4]).sum()
# GradCount = (count[1]+ count[2] + count[5]).sum()

# #Plot Bar graph
# plt.barh(['Undergrad', 'Grad'], [undergradCount, GradCount], color='orange')

# # Create Labels
# plt.xlabel('Counts')
# plt.ylabel('Student Type')
# plt.title('Undergrad and Grad Student Counts 2022-2023')

# # Show the plot
# plt.show()

In [11]:
# # Student_addresses_2023_2024 undergrad and grad counts bar graph 

# count = Student_addresses_2023_2024["7. undergraduate (u) or graduate (g)"].value_counts()
# print(count)

# undergradCount = (count[1] + count[2] + count[5]).sum()
# GradCount = (count[0] + count[3] + count[4]).sum()

# #Plot Bar graph
# plt.barh(['Undergrad', 'Grad'], [undergradCount, GradCount], color='orange')

# # Create Labels
# plt.xlabel('Counts')
# plt.ylabel('Student Type')
# plt.title('Undergrad and Grad Student Counts 2023-2024')

# # Show the plot
# plt.show()

C:\Users\riann\AppData\Local\Temp\ipykernel_31872\635542134.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10["Street_combined"] = first_10['6a. street #']+ " " + first_10['6b. street name'] + " " +first_10['6c. street suffix']
C:\Users\riann\AppData\Local\Temp\ipykernel_31872\635542134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10['City'] = "Boston"
C:\Users\riann\AppData\Local\Temp\ipykernel_31872\635542134.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10['State'] = "Massachusetts"

Geocoding row 1/10 ...

,6a. street #,6b. street name,6c. street suffix,6d. unit #,6e. zip,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. at-home or not-at-home,9. 5 or more undergrads/unit (y/n),university,year,Street_combined,City,State,latitude_geocoded,longitude_geocoded
0,10,Rhoda,Street,NaN,02132,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,10 Rhoda Street,Boston,Massachusetts,NaN,NaN
3,12,Sutherland,Road,3,02135,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,12 Sutherland Road,Boston,Massachusetts,NaN,NaN
4,137,Chiswick,Road,apt 5,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,137 Chiswick Road,Boston,Massachusetts,NaN,NaN
6,161,Washington,Street,NaN,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,161 Washington Street,Boston,Massachusetts,NaN,NaN
7,242,Bowdoin,Street,NaN,02122,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,242 Bowdoin Street,Boston,Massachusetts,NaN,NaN
8,34,Bay,Street,NaN,02171,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,34 Bay Street,Boston,Massachusetts,NaN,NaN
9,34,Navarre,Street,NaN,02131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,34 Navarre Street,Boston,Massachusetts,NaN,NaN
10,35,South,Street,NaN,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,35 South Street,Boston,Massachusetts,NaN,NaN
12,39,Mayhew,Street,NaN,02125,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,39 Mayhew Street,Boston,Massachusetts,NaN,NaN
13,49,Florence,Street,NaN,02131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,49 Florence Street,Boston,Massachusetts,NaN,NaN

In [124]:
first_10.head(10)

,6a. street #,6b. street name,6c. street suffix,6d. unit #,6e. zip,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. at-home or not-at-home,9. 5 or more undergrads/unit (y/n),university,year,Street_combined,City,State
0,10,Rhoda,Street,NaN,02132,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,10 Rhoda Street,Boston,Massachusetts
3,12,Sutherland,Road,3,02135,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,12 Sutherland Road,Boston,Massachusetts
4,137,Chiswick,Road,apt 5,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,137 Chiswick Road,Boston,Massachusetts
6,161,Washington,Street,NaN,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,161 Washington Street,Boston,Massachusetts
7,242,Bowdoin,Street,NaN,02122,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,242 Bowdoin Street,Boston,Massachusetts
8,34,Bay,Street,NaN,02171,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024,34 Bay Street,Boston,Massachusetts
9,34,Navarre,Street,NaN,02131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,34 Navarre Street,Boston,Massachusetts
10,35,South,Street,NaN,02135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,35 South Street,Boston,Massachusetts
12,39,Mayhew,Street,NaN,02125,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,39 Mayhew Street,Boston,Massachusetts
13,49,Florence,Street,NaN,02131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024,49 Florence Street,Boston,Massachusetts