In [2]:
# Importing libraries we will need
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#Import more as we go along

In [3]:
# Importing the dataset for use
# Datatsets containing where students lived off campus for the past four years

Student_addresses_1 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2020_2021.csv")
Student_addresses_2 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2021_2022.csv")
Student_addresses_3 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2022_2023.csv")
Student_addresses_4 = os.path.join(os.getcwd(), "rawdata", "Student_Addresses_2023_2024.csv")

In [4]:
# Creating a variable to hold the data sets
Student_addresses_2020_2021 = pd.read_csv(Student_addresses_1, header = 0)
Student_addresses_2021_2022 = pd.read_csv(Student_addresses_2, header = 0)
Student_addresses_2022_2023 = pd.read_csv(Student_addresses_3, header = 0)
Student_addresses_2023_2024 = pd.read_csv(Student_addresses_4, header = 0)

In [5]:
# Viewing the data 

# (Rows, Columns)
Student_addresses_2020_2021.shape
Student_addresses_2021_2022.shape
Student_addresses_2022_2023.shape
Student_addresses_2023_2024.shape

# view the columns and rows, first 10 for genreal idea of what it looks like
Student_addresses_2020_2021.head(10)
Student_addresses_2021_2022.head(10)
Student_addresses_2022_2023.head(10)
Student_addresses_2023_2024.head(10)

,6a. street #,6b. street name,6c. street suffix,6d. unit #,6e. zip,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. at-home or not-at-home,9. 5 or more undergrads/unit (y/n),university,year
0,10,Rhoda St,NaN,NaN,2132,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
1,10,Rhoda Street,NaN,NaN,2132,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
2,580,Washington Street,NaN,NaN,2111,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
3,12,Sutherland Rd,NaN,3,2135,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
4,137,Chiswick rd,NaN,apt 5,2135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
5,15,Hillock street,NaN,NaN,2131,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
6,161,Washington St,NaN,NaN,2135,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024
7,242,Bowdoin St,NaN,NaN,2122,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
8,34,Bay St,NaN,NaN,2171,U,Full Time,Not-at-Home,NaN,BC-Woods College,2023-2024
9,34,Navarre St,NaN,NaN,2131,U,Part Time,Not-at-Home,NaN,BC-Woods College,2023-2024

In [31]:
print(Student_addresses_2023_2024[Student_addresses_2023_2024["6b. street name"].isna()])

      6a. street # 6b. street name 6c. street suffix               6d. unit #  \
5527           NaN             NaN               NaN                      NaN
5528             1             NaN     Dalton Street                     3002
5529             1             NaN     Emerson Place           Apartment 12-O
5530             1             NaN       Everett St.                     #203
5531             1             NaN       Portina Rd.                       #1
...            ...             ...               ...                      ...
40346          NaN             NaN               NaN            Unit 3 Unit 3
42070          NaN             NaN            Street  Apt 36 1185 Boylston 36
45198         1307             NaN               NaN                   Unit 1
46636          NaN             NaN               NaN                  Apt 306
48390           49             NaN               NaN                      NaN

      6e. zip 7. undergraduate (u) or graduate (g)  \
5527      NaN                                  NaN
5528     2199                                    G
5529     2114                                    G
5530     2134                                    G
5531     2135                                    G
...       ...                                  ...
40346    2120                        Undergraduate
42070    2215                             Graduate
45198    2134                             Graduate
46636    2120                        Undergraduate
48390    2115                             Graduate

      8. full-time (ft) or part-time (pt) 9. at-home or not-at-home  \
5527                                  NaN                       NaN
5528                            Full Time               Not-at-Home
5529                            Full Time               Not-at-Home
5530                            Full Time               Not-at-Home
5531                            Full Time               Not-at-Home
...                                   ...                       ...
40346                           Full Time            Not at At home
42070                           Full Time            Not at At home
45198                           Full Time            Not at At home
46636                           Full Time                   At home
48390                           Full Time            Not at At home

      9. 5 or more undergrads/unit (y/n)               university       year
5527                                 NaN           Boston College  2023-2024
5528                                 NaN           Boston College  2023-2024
5529                                 NaN           Boston College  2023-2024
5530                                 NaN           Boston College  2023-2024
5531                                 NaN           Boston College  2023-2024
...                                  ...                      ...        ...
40346                                NaN  Northeastern University  2023-2024
42070                                NaN  Northeastern University  2023-2024
45198                                NaN  Northeastern University  2023-2024
46636                                NaN  Northeastern University  2023-2024
48390                                NaN  Northeastern University  2023-2024

[1070 rows x 11 columns]

In [ ]:
# Format the Street Strings properly
print(Student_addresses_2023_2024.iloc[0:1,0], Student_addresses_2023_2024.iloc[0:1,1], Student_addresses_2023_2024.iloc[0:1,2])

streetaddress23_24 = []

# Only Run after Seeing the Cleaned Code from Rianna's Code
# len(Student_addresses_2023_2024)
for i in range (0, len(Student_addresses_2023_2024)-1):
    streetnum = Student_addresses_2023_2024.loc[i, "6a. street #"]
    streetname = Student_addresses_2023_2024.loc[i, "6b. street name"]
    streetsuffix = str(Student_addresses_2023_2024.loc[i, "6c. street suffix"])


    if streetsuffix != "nan":
        final = streetnum+" "+streetname+" "+streetsuffix
    elif streetname == "nan":
        final = streetnum+" "+streetsuffix
    else:
        final = streetnum+" "+streetname

    streetaddress23_24.append(final)

0    10
Name: 6a. street #, dtype: object 0    Rhoda St
Name: 6b. street name, dtype: object 0    NaN
Name: 6c. street suffix, dtype: object
['10 Rhoda St', '10 Rhoda Street', '580 Washington Street', '12 Sutherland Rd', '137 Chiswick rd', '15 Hillock street', '161 Washington St', '242 Bowdoin St', '34 Bay St']

In [ ]:
import time
import requests
import pandas as pd
import numpy as np
from typing import Optional, Tuple, Dict

GEOCODE_URL = "https://geocode.maps.co/search"

def _build_address_string(street: Optional[str], city: Optional[str],
                          state: Optional[str], postalcode: Optional[str]) -> str:
    parts = []
    if street and str(street).strip():
        parts.append(str(street).strip())
    if city and str(city).strip():
        parts.append(str(city).strip())
    if state and str(state).strip():
        parts.append(str(state).strip())
    if postalcode and str(postalcode).strip():
        parts.append(str(postalcode).strip())
    return ", ".join(parts)

def geocode_single(session: requests.Session,
                    street: Optional[str],
                    city: Optional[str],
                    state: Optional[str],
                    postalcode: Optional[str],
                    api_key: Optional[str] = None,
                    country: Optional[str] = "US",
                    timeout: float = 10.0,
                    max_retries: int = 4,
                    pause: float = 1.0) -> Tuple[Optional[float], Optional[float]]:
    """
    Geocode a single address. Returns (lat, lon) or (None, None) if no result.
    Uses exponential backoff for 429/503 responses.
    """
    address_str = _build_address_string(street, city, state, postalcode)
    if not address_str:
        return None, None

    params = {
        "format": "json",
        "limit": 1
    }
    # Prefer structured search: include components when available
    if street:
        params["street"] = street
    if city:
        params["city"] = city
    if state:
        params["state"] = state
    if postalcode:
        params["postalcode"] = postalcode
    if country:
        params["country"] = country

    # If user prefers to pass api_key as query param, uncomment next line
    # if api_key: params["api_key"] = api_key

    headers = {
        "User-Agent": "geocode-client/1.0"
    }
    if api_key:
        headers["Authorization"] = f"Bearer {api_key}"

    backoff = pause
    for attempt in range(1, max_retries + 1):
        try:
            resp = session.get(GEOCODE_URL, params=params, headers=headers, timeout=timeout)
        except requests.RequestException:
            # network failure
            if attempt == max_retries:
                return None, None
            time.sleep(backoff)
            backoff *= 2
            continue

        if resp.status_code == 200:
            try:
                data = resp.json()
            except ValueError:
                return None, None
            if isinstance(data, list) and len(data) > 0:
                first = data[0]
                try:
                    lat = float(first.get("lat"))
                    lon = float(first.get("lon"))
                    return lat, lon
                except Exception:
                    return None, None
            else:
                # no matches
                return None, None

        if resp.status_code in (429, 503):
            # rate limited or service unavailable - backoff and retry
            if attempt == max_retries:
                return None, None
            time.sleep(backoff)
            backoff *= 2
            continue

        # for 403/4xx/5xx other than 429/503 -> don't retry too aggressively
        # if 403, you might be blocked/need to contact API provider
        return None, None

    return None, None


def geocode_addresses(df: pd.DataFrame,
                      street_col: str,
                      city_col: Optional[str],
                      state_col: Optional[str],
                      postal_col: Optional[str],
                      api_key: Optional[str] = None,
                      country: str = "US",
                      timeout: float = 10.0,
                      pause: float = 1.0,
                      max_retries: int = 4,
                      max_rows: Optional[int] = None,
                      show_progress: bool = True) -> pd.DataFrame:
    """
    Geocode addresses from a DataFrame and return a copy with 'latitude_geocoded'
    and 'longitude_geocoded' columns appended.

    Example:
      df2 = geocode_addresses(df, "street_col", "city_col", "state_col", "zip_col", api_key="XXX")
      # then df2 has new columns you can assign back: df["lat"] = df2["latitude_geocoded"]
    """
    session = requests.Session()
    cache: Dict[str, Tuple[Optional[float], Optional[float]]] = {}

    n = len(df) if max_rows is None else min(len(df), max_rows)
    latitudes = []
    longitudes = []

    it = range(n)
    for i in it:
        if show_progress and (i % 50 == 0):
            print(f"Geocoding row {i+1}/{n} ...")
        row = df.iloc[i]
        street = row.get(street_col, None)
        city = row.get(city_col, None) if city_col else None
        state = row.get(state_col, None) if state_col else None
        postal = row.get(postal_col, None) if postal_col else None

        addr_key = _build_address_string(street, city, state, postal)
        if addr_key in cache:
            lat, lon = cache[addr_key]
        else:
            lat, lon = geocode_single(session,
                                      street=street,
                                      city=city,
                                      state=state,
                                      postalcode=postal,
                                      api_key=api_key,
                                      country=country,
                                      timeout=timeout,
                                      max_retries=max_retries,
                                      pause=pause)
            cache[addr_key] = (lat, lon)
            # polite pause between requests to avoid being rate-limited
            time.sleep(pause)

        latitudes.append(lat if lat is not None else np.nan)
        longitudes.append(lon if lon is not None else np.nan)

    # Build output DataFrame (copy to avoid mutating input)
    out = df.copy()
    # New columns are aligned with the subset length; if max_rows set, fill rest with NaN
    if max_rows is not None and max_rows < len(df):
        # create full-length lists
        lat_full = [np.nan] * len(df)
        lon_full = [np.nan] * len(df)
        for j in range(max_rows):
            lat_full[j] = latitudes[j]
            lon_full[j] = longitudes[j]
        out["latitude_geocoded"] = lat_full
        out["longitude_geocoded"] = lon_full
    else:
        out["latitude_geocoded"] = latitudes + [np.nan] * (len(df) - len(latitudes))
        out["longitude_geocoded"] = longitudes + [np.nan] * (len(df) - len(longitudes))

    return out